<div class="card">
    <div class="card-header">
        <h4>{{film?.title}}</h4>
    </div>
    <div class="card-body">

        <div class="row">
            <div class="col-lg-5"><img [src]="'assets/images/films/'+imageName +'.jpg'"></div>
            <div class="col-lg-7  text-left">

                <div>Director : {{film?.director}}</div>
                <div>Producer : {{film?.producer}}</div>
                <div>Release Date : {{film?.release_date}}</div>
                <br>
                <div >Opening crawl : {{film?.opening_crawl}}</div>
            </div>

        </div>
    </div>
    <div class="card-footer text-muted">
        <a  style="float: right;" [routerLink]="['./' + film?.episode_id]">Detail</a>
    </div>
</div>