<div class="row pt-lg">
    <div class="col-lg-4">
        <div class="card">
            <div class="card-header">
                <h4>Films</h4>
            </div>
            <div class="card-body">
                <div class="row">
                    <img src="assets/images/home/film.jpg" />
                </div>

            </div>
            <div class="card-footer text-muted">
                <a style="float: right;" [routerLink]="['./films']">Detail</a>
            </div>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="card">
            <div class="card-header">
                <h4>Planets</h4>
            </div>
            <div class="card-body">
                <div class="row">
                    <img src="assets/images/home/film.jpg" />
                </div>
            </div>
            <div class="card-footer text-muted">
                <a style="float: right;" [routerLink]="['./planets']">Detail</a>
            </div>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="card">
            <div class="card-header">
                <h4>Characters</h4>
            </div>
            <div class="card-body">

                <div class="row">
                    <img src="assets/images/home/film.jpg" />
                </div>
            </div>
            <div class="card-footer text-muted">
                <a style="float: right;" [routerLink]="['./characters']">Detail</a>
            </div>
        </div>
    </div>
</div>

